In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({"age" : [23, 23, 28, 30], "height" : [75, 67, 70, 65],
                   "weight" : [140, 210, 120, 150]})

In [4]:
df.head()

   age  height  weight
0   23      75     140
1   23      67     210
2   28      70     120
3   30      65     150

In [5]:
df["bmi"] = [w / (h ** 2) * 703 for w, h in zip(df["weight"], df["height"])]

In [6]:
df.head()

   age  height  weight        bmi
0   23      75     140  17.496889
1   23      67     210  32.887057
2   28      70     120  17.216327
3   30      65     150  24.958580

In [32]:
div = lambda x: x / 5

In [33]:
list(map(div, [5, 10, 15]))

[1.0, 2.0, 3.0]