# Wrangling

In [1]:
# deps
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
# I just cloned the full repository, 
  # for about 100 mb I get a ton of data-sets to play with
!git clone https://github.com/fivethirtyeight/data

fatal: destination path 'data' already exists and is not an empty directory.

In [3]:
df = pd.read_csv("data/airline-safety/airline-safety.csv")

In [4]:
df.head(5)

,airline,avail_seat_km_per_week,incidents_85_99,fatal_accidents_85_99,fatalities_85_99,incidents_00_14,fatal_accidents_00_14,fatalities_00_14
0,Aer Lingus,320906734,2,0,0,0,0,0
1,Aeroflot*,1197672318,76,14,128,6,1,88
2,Aerolineas Argentinas,385803648,6,0,0,1,0,0
3,Aeromexico*,596871813,3,1,64,5,0,0
4,Air Canada,1865253802,2,0,0,2,0,0

# Preprocessing

In [5]:
df.isnull().sum()

airline                   0
avail_seat_km_per_week    0
incidents_85_99           0
fatal_accidents_85_99     0
fatalities_85_99          0
incidents_00_14           0
fatal_accidents_00_14     0
fatalities_00_14          0
dtype: int64

# Analysis/Processing

In [6]:
len(df)

56

In [7]:
[5, 10] + [5, 10]

[5, 10, 5, 10]

In [8]:
len(df) * .75 * .75

31.5

In [9]:
len(df) * .75 * .25

10.5

In [10]:
len(df) * .25

14.0

In [11]:
features = ["incidents", "fatal_accidents", "fatalities"]

In [12]:
z = [list(df[feature + "_85_99"]) + list(df[feature + "_00_14"])for feature in features]

In [13]:
len(z)

3

In [14]:
len(z[1])

112

In [15]:
features = pd.DataFrame({"incidents" : z[0], "fatal_accidents" : z[1], 
                   "fatalities" : z[2]})

In [16]:
len(features)

112

In [17]:
def yearcategory(x):
    z = []
    for count, i in enumerate(x):
        if count > len(df):
            z.append(2014)
        else:
            z.append(1985)
    return(z)

In [18]:
years = yearcategory(features["fatalities"])

In [19]:
print(len(years))

112

In [20]:
features["years"] = years

In [21]:
features.head()

   incidents  fatal_accidents  fatalities  years
0          2                0           0   1985
1         76               14         128   1985
2          6                0           0   1985
3          3                1          64   1985
4          2                0           0   1985

In [22]:
target = 'years'
train, test = train_test_split(features)
trainX = train.drop(target, axis = 1)
trainy = train[target]
testX = test.drop(target, axis = 1)
testy = test[target]

In [23]:
trainX

     incidents  fatal_accidents  fatalities
77           1                0           0
50           8                3          64
12           1                0           0
29           2                0           0
94           3                0           0
..         ...              ...         ...
102          1                1           3
16          12                6         535
48           0                0           0
101          3                0           0
44           2                1          14

[84 rows x 3 columns]

In [24]:
trainy

77     2014
50     1985
12     1985
29     1985
94     2014
       ...
102    2014
16     1985
48     1985
101    2014
44     1985
Name: years, Length: 84, dtype: int64

# Modeling

In [25]:
from sklearn.linear_model import LogisticRegression

In [26]:
model = LogisticRegression()

In [27]:
model.fit(trainX, trainy)

LogisticRegression()

In [28]:
yhat = model.predict(testX)

In [29]:
from sklearn.metrics import accuracy_score

In [30]:
accuracy_score(testy, yhat)

0.4642857142857143

# The Real Analysis

In [31]:
features

     incidents  fatal_accidents  fatalities  years
0            2                0           0   1985
1           76               14         128   1985
2            6                0           0   1985
3            3                1          64   1985
4            2                0           0   1985
..         ...              ...         ...    ...
107         14                2         109   2014
108         11                2          23   2014
109          1                0           0   2014
110          0                0           0   2014
111          2                0           0   2014

[112 rows x 4 columns]

In [32]:
features["fatal_accidents"].describe()

count    112.000000
mean       1.419643
std        2.236625
min        0.000000
25%        0.000000
50%        1.000000
75%        2.000000
max       14.000000
Name: fatal_accidents, dtype: float64

In [33]:
features["incidents"].describe()

count    112.000000
mean       5.651786
std        8.540006
min        0.000000
25%        1.750000
50%        3.000000
75%        7.000000
max       76.000000
Name: incidents, dtype: float64

# The Real Processing

In [34]:
from scipy.stats import ttest_ind

In [35]:
mask = [val > np.mean(features["fatal_accidents"]) for val in features["fatal_accidents"]]

In [36]:
mask

[False,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 False,
 False]

In [37]:
onlyabovemu = features[mask]

In [38]:
onlyabovemu

     incidents  fatal_accidents  fatalities  years
1           76               14         128   1985
5           14                4          79   1985
9            7                2          50   1985
11          21                5         101   1985
13           5                3         323   1985
16          12                6         535   1985
19          24               12         407   1985
20           8                3         282   1985
22          25                5         167   1985
24          10                3         260   1985
31          12                5         425   1985
32           3                2          21   1985
35           8                3         234   1985
36           7                4          74   1985
38           5                3          51   1985
40           7                2         313   1985
41           2                2           6   1985
47           8                3          98   1985
49           8                4         308   1985
50           8                3          64   1985
51          19                8         319   1985
52          16                7         224   1985
53           7                3         171   1985
61           6                2         337   2014
67          17                3         416   2014
75          24                2          51   2014
78           5                2          92   2014
80           4                2          22   2014
85           2                2         283   2014
90           3                2         537   2014
91          10                2          46   2014
103          7                2         188   2014
106          8                2          84   2014
107         14                2         109   2014
108         11                2          23   2014

In [39]:
len(onlyabovemu)

35

In [40]:
ttest_ind(features["years"], onlyabovemu["years"])

Ttest_indResult(statistic=1.538691906112917, pvalue=0.12605892096661567)

In [41]:
mask = [val > np.mean(features["incidents"]) for val in features["incidents"]]

In [42]:
onlyabovemu = features[mask]

In [43]:
ttest_ind(features["years"], onlyabovemu["years"])

Ttest_indResult(statistic=1.1895326000264201, pvalue=0.23614792418482572)

In [44]:
features

     incidents  fatal_accidents  fatalities  years
0            2                0           0   1985
1           76               14         128   1985
2            6                0           0   1985
3            3                1          64   1985
4            2                0           0   1985
..         ...              ...         ...    ...
107         14                2         109   2014
108         11                2          23   2014
109          1                0           0   2014
110          0                0           0   2014
111          2                0           0   2014

[112 rows x 4 columns]

# Feature Selection

In [45]:
from sklearn.preprocessing import quantile_transform

In [46]:
features = features.drop("fatalities", axis = 1)

In [47]:
from scipy import stats

In [48]:
z_scores = stats.zscore(features)

In [49]:
z_scores

array([[-0.4295311 , -0.63757805, -0.98229949],
       [ 8.2745123 ,  5.64998407, -0.98229949],
       [ 0.04095773, -0.63757805, -0.98229949],
       [-0.31190889, -0.18846647, -0.98229949],
       [-0.4295311 , -0.63757805, -0.98229949],
       [ 0.9819354 ,  1.15886827, -0.98229949],
       [-0.4295311 , -0.18846647, -0.98229949],
       [-0.31190889, -0.63757805, -0.98229949],
       [-0.07666447, -0.63757805, -0.98229949],
       [ 0.15857994,  0.26064511, -0.98229949],
       [-0.31190889, -0.18846647, -0.98229949],
       [ 1.80529086,  1.60797985, -0.98229949],
       [-0.54715331, -0.63757805, -0.98229949],
       [-0.07666447,  0.70975669, -0.98229949],
       [-0.19428668, -0.63757805, -0.98229949],
       [-0.66477552, -0.63757805, -0.98229949],
       [ 0.74669098,  2.05709143, -0.98229949],
       [-0.4295311 , -0.18846647, -0.98229949],
       [-0.31190889, -0.18846647, -0.98229949],
       [ 2.15815748,  4.75176091, -0.98229949],
       [ 0.27620215,  0.70975669, -0.98229949],
       [-0.54715331, -0.18846647, -0.98229949],
       [ 2.27577969,  1.60797985, -0.98229949],
       [-0.54715331, -0.63757805, -0.98229949],
       [ 0.51144657,  0.70975669, -0.98229949],
       [-0.54715331, -0.63757805, -0.98229949],
       [-0.66477552, -0.63757805, -0.98229949],
       [-0.19428668, -0.18846647, -0.98229949],
       [-0.31190889, -0.18846647, -0.98229949],
       [-0.4295311 , -0.63757805, -0.98229949],
       [ 0.15857994, -0.18846647, -0.98229949],
       [ 0.74669098,  1.60797985, -0.98229949],
       [-0.31190889,  0.26064511, -0.98229949],
       [ 0.04095773, -0.18846647, -0.98229949],
       [-0.31190889, -0.18846647, -0.98229949],
       [ 0.27620215,  0.70975669, -0.98229949],
       [ 0.15857994,  1.15886827, -0.98229949],
       [-0.54715331, -0.63757805, -0.98229949],
       [-0.07666447,  0.70975669, -0.98229949],
       [-0.07666447, -0.63757805, -0.98229949],
       [ 0.15857994,  0.26064511, -0.98229949],
       [-0.4295311 ,  0.26064511, -0.98229949],
       [-0.4295311 , -0.18846647, -0.98229949],
       [-0.54715331, -0.63757805, -0.98229949],
       [-0.4295311 , -0.18846647, -0.98229949],
       [-0.4295311 , -0.18846647, -0.98229949],
       [-0.31190889, -0.18846647, -0.98229949],
       [ 0.27620215,  0.70975669, -0.98229949],
       [-0.66477552, -0.63757805, -0.98229949],
       [ 0.27620215,  1.15886827, -0.98229949],
       [ 0.27620215,  0.70975669, -0.98229949],
       [ 1.57004644,  2.95531459, -0.98229949],
       [ 1.21717981,  2.50620301, -0.98229949],
       [ 0.15857994,  0.70975669, -0.98229949],
       [-0.54715331, -0.63757805, -0.98229949],
       [ 0.39382436, -0.18846647, -0.98229949],
       [-0.66477552, -0.63757805, -0.98229949],
       [ 0.04095773, -0.18846647,  1.01801947],
       [-0.54715331, -0.63757805,  1.01801947],
       [-0.07666447, -0.63757805,  1.01801947],
       [-0.4295311 , -0.63757805,  1.01801947],
       [ 0.04095773,  0.26064511,  1.01801947],
       [-0.19428668, -0.18846647,  1.01801947],
       [-0.07666447, -0.18846647,  1.01801947],
       [-0.07666447, -0.18846647,  1.01801947],
       [-0.19428668, -0.63757805,  1.01801947],
       [ 0.15857994, -0.63757805,  1.01801947],
       [ 1.33480202,  0.70975669,  1.01801947],
       [-0.54715331, -0.63757805,  1.01801947],
       [-0.66477552, -0.63757805,  1.01801947],
       [ 0.04095773, -0.63757805,  1.01801947],
       [-0.4295311 , -0.63757805,  1.01801947],
       [-0.4295311 , -0.18846647,  1.01801947],
       [-0.66477552, -0.63757805,  1.01801947],
       [-0.66477552, -0.63757805,  1.01801947],
       [ 2.15815748,  0.26064511,  1.01801947],
       [-0.19428668, -0.18846647,  1.01801947],
       [-0.54715331, -0.63757805,  1.01801947],
       [-0.07666447,  0.26064511,  1.01801947],
       [-0.66477552, -0.63757805,  1.01801947],
       [-0.19428668,  0.26064511,  1.01801947],
       [-0.31190889, -0.18846647,  1.01801947],
       [-0.54715331, -0.63757805,  1.01801947],
       [-0.07666447, -0.63757805,  1.01801947],
       [-0.66477552, -0.63757805,  1.01801947],
       [-0.4295311 ,  0.26064511,  1.01801947],
       [-0.54715331, -0.63757805,  1.01801947],
       [-0.54715331, -0.63757805,  1.01801947],
       [-0.66477552, -0.63757805,  1.01801947],
       [-0.31190889, -0.63757805,  1.01801947],
       [-0.31190889,  0.26064511,  1.01801947],
       [ 0.51144657,  0.26064511,  1.01801947],
       [-0.4295311 , -0.18846647,  1.01801947],
       [-0.07666447, -0.63757805,  1.01801947],
       [-0.31190889, -0.63757805,  1.01801947],
       [ 0.04095773, -0.18846647,  1.01801947],
       [ 0.62906877, -0.63757805,  1.01801947],
       [-0.4295311 , -0.18846647,  1.01801947],
       [-0.54715331, -0.63757805,  1.01801947],
       [ 0.27620215, -0.63757805,  1.01801947],
       [-0.19428668, -0.63757805,  1.01801947],
       [-0.31190889, -0.63757805,  1.01801947],
       [-0.54715331, -0.18846647,  1.01801947],
       [ 0.15857994,  0.26064511,  1.01801947],
       [-0.66477552, -0.63757805,  1.01801947],
       [-0.4295311 , -0.18846647,  1.01801947],
       [ 0.27620215,  0.26064511,  1.01801947],
       [ 0.9819354 ,  0.26064511,  1.01801947],
       [ 0.62906877,  0.26064511,  1.01801947],
       [-0.54715331, -0.63757805,  1.01801947],
       [-0.66477552, -0.63757805,  1.01801947],
       [-0.4295311 , -0.63757805,  1.01801947]])

In [55]:
abs_z_scores = np.abs(z_scores)
filtered_entries = (abs_z_scores < 3).all(axis=1)
features = features[filtered_entries]

ValueError: Item wrong length 112 instead of 110.

In [65]:
target = 'years'
train, test = train_test_split(features)
trainX = train.drop(target, axis = 1)
trainy = train[target]
testX = test.drop(target, axis = 1)
testy = test[target]

In [66]:
model.fit(trainX, trainy)

LogisticRegression()

In [67]:
yhat = model.predict(testX)

In [68]:
accuracy_score(testy, yhat)

0.7857142857142857

# Better Model