# Map

In [22]:
data = [5, 10, 15, 20]

In [23]:
def add5(x):
    return(x + 5)

In [24]:
newdata = map(add5, data)

In [25]:
list(newdata)

[10, 15, 20, 25]

In [26]:
newdata = list(map(lambda x : x + 5, data))
print(newdata)

[10, 15, 20, 25]

# Pandas Masking

In [27]:
import pandas as pd

In [28]:
df = pd.DataFrame({"A" : [5, 10, 15, 20],
                   "B" : ["tall", "short", "tall", "short"]})

In [29]:
a_above_ten = df[df["A"] > 10]

In [30]:
a_above_ten.head()

    A      B
2  15   tall
3  20  short

# Pandas Groupby

In [34]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.]})

In [35]:
df.groupby(['Animal']).mean()

        Max Speed
Animal
Falcon      375.0
Parrot       25.0

# Zip

In [36]:
a = [5, 10, 15, 20]
b = [5, 10, 15, 20]

In [37]:
for it in range(0, len(a)):
    a[it] += b[it]

In [38]:
print(a)

[10, 20, 30, 40]

In [43]:
empty = []
for ai, bi in zip(a, b):
    z = ai + bi
    empty.append(z)

In [45]:
print(empty)

[15, 30, 45, 140]

# One-line looping

In [46]:
empty = [ai + bi for ai, bi in zip(a, b)]

In [47]:
print(empty)

[15, 30, 45, 140]