# The str class

In [1]:
string = "Hello, my name is Emmett :)"

In [2]:
type(string)

str

In [3]:
string[1]

'e'

In [4]:
string[0]

'H'

In [5]:
len(string)

27

In [9]:
for char in string:
    print(char)

H
e
l
l
o
,

m
y

n
a
m
e

i
s

E
m
m
e
t
t

:
)

In [17]:
h = "    This string starts and ends with spaaaace               "

In [19]:
print(h.strip())

This string starts and ends with spaaaace

In [20]:
ex = "I love Data Science"

In [21]:
ex.replace("Data", "Biological")

'I love Biological Science'

In [29]:
numbers = "2"
nonumbs = "two"

In [37]:
txt = "I like fish. I like tacos. So I like fish tacos!"

x = txt.rfind("fish")
z = txt.rfind("like")
print(x, z)

37 32

In [45]:
fish1, fish2, fish3 = txt.partition("I like tacos.")

In [46]:
print(fish1)
print(fish2)
print(fish3)

I like fish.
I like tacos.
 So I like fish tacos!

In [30]:
print(numbers.isalpha())
print(nonumbs.isalpha())
print(numbers.isalnum())
print(nonumbs.isalnum())

False
True
True
True

In [51]:
searchingfor = "fish"
print(txt.index("fish"))
start = txt.index("fish")
sl = len(searchingfor)
for i in range(start, start + sl):
    print(txt[i])

7
f
i
s
h

In [55]:
import pandas as pd

In [57]:
listofstr = ["Hello", "Hi", "Hello", "Hi"]
nums = [5, 10, 15, 20]

In [58]:
df = pd.DataFrame({"A" : listofstr, "B" : nums})

In [59]:
df.head(5)

       A   B
0  Hello   5
1     Hi  10
2  Hello  15
3     Hi  20

In [63]:
df["A"] = df["A"].apply(lambda x: x.replace("H", "W"))

In [65]:
df.head(5)

       A   B
0  Wello   5
1     Wi  10
2  Wello  15
3     Wi  20

In [14]:
poem = """I tried a career called data science,\n Then befriended a colony of ants\n
The ants ate my sugar,\n
so i took my cooler,\n
and flooded, so harshly, their pants"""

In [15]:
print(poem)

I tried a career called data science,
 Then befriended a colony of ants

The ants ate my sugar,

so i took my cooler,

and flooded, so harshly, their pants

# Encoding strings

In [70]:
from sklearn.preprocessing import OneHotEncoder

In [71]:
df = pd.DataFrame({"Danger_Level": ["A", "A", "C", "D", "C", "A", "B"],
                   "Layer_Count": [5, 6, 12, 19, 13, 6, 9]})

In [72]:
df.head(5)

  Danger_Level  Layer_Count
0            A            5
1            A            6
2            C           12
3            D           19
4            C           13

In [73]:
encoder = OneHotEncoder()

In [76]:
import numpy as np

In [77]:
dl = np.array(df["Danger_Level"]).reshape(-1, 1)

In [79]:
output = encoder.fit_transform(dl)

In [80]:
print(output)

  (0, 0)	1.0
  (1, 0)	1.0
  (2, 2)	1.0
  (3, 3)	1.0
  (4, 2)	1.0
  (5, 0)	1.0
  (6, 1)	1.0

In [81]:
from sklearn.preprocessing import OrdinalEncoder

In [84]:
encoder = OrdinalEncoder()

In [85]:
encoder.fit_transform(dl)

array([[0.],
       [0.],
       [2.],
       [3.],
       [2.],
       [0.],
       [1.]])

In [90]:
from sklearn.preprocessing import LabelEncoder

In [91]:
encoder = LabelEncoder()

In [92]:
encoder.fit_transform(dl)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

array([0, 0, 2, 3, 2, 0, 1])