In [1]:
def define_list(x : int):
    lst = []
    for i in range(1, 50):
        lst.append(x * i)

In [3]:
def def_list2(x: int):
    return([x * i for i in range(1, 50)])

In [9]:
inputlst = [5, 10, 15, 20]
{x:x ** 3 for x in inputlst if x % 2 != 0}

{5: 125, 15: 3375}

In [10]:
mask = [x > 10 for x in inputlst]

In [12]:
import pandas as pd

In [22]:
df = pd.DataFrame({"A" : [5, 10, 15, 20, 25], "B" : [5, 10, 15, 20, 25]})

In [26]:
mask = df["A"] > 5

In [27]:
mask

0    False
1     True
2     True
3     True
4     True
Name: A, dtype: bool

In [28]:
df[mask]

    A   B
1  10  10
2  15  15
3  20  20
4  25  25

In [30]:
df = pd.DataFrame({"height (cm)" : [182, 125, 102, 190, 140, 150], "sex" : ['m', 'f', 'f', 'm', 'f', 'm']})

In [32]:
male_mask = df["sex"] == 'm'
female_mask = df["sex"] == 'f'

In [34]:
from scipy.stats import ttest_ind

In [35]:
male_df = df[male_mask]
female_df = df[female_mask]

In [36]:
ttest_ind(df["height (cm)"], female_df["height (cm)"])

Ttest_indResult(statistic=1.2115133507714908, pvalue=0.26500459971996915)

In [39]:
df["height (in)"] = [x * 0.393701 for x in df["height (cm)"]]

In [40]:
df.head(5)

   height (cm) sex  height (in)
0          182   m    71.653582
1          125   f    49.212625
2          102   f    40.157502
3          190   m    74.803190
4          140   f    55.118140