In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("brace_data.csv")

In [4]:
df.head()

       name  age  rating  uses
0     clara   36       2     5
1  beatrice   57       8    25
2      jean   22       4    35
3     tommy   63       9   122
4     clark   72       8    75

In [9]:
df = pd.DataFrame({"doors": [7, 12, 8, 13, 4], 
                  "windows": [10, 4, 9, 12, 11], 
                  "bathrooms": [1, 2, 3, 2, 1], 
                   "studies": [1, 0, 3, 2, 0],
                   "bedrooms": [2, 4, 3, 7, 2], 
                   "residents": [5, 3, 16, 8, 1]})

In [25]:
df["rooms"] = [sum([row["bathrooms"], row["studies"], row["bedrooms"]]) for index, row in df.iterrows()]

In [27]:
df.head()

   doors  windows  bathrooms  studies  bedrooms  residents  rooms
0      7       10          1        1         2          5      4
1     12        4          2        0         4          3      6
2      8        9          3        3         3         16      9
3     13       12          2        2         7          8     11
4      4       11          1        0         2          1      3

In [30]:
import numpy as np
μ = np.mean(df["rooms"])
σ = np.std(df["rooms"])
normalized_rooms = [(μ - x) / σ for x in df["rooms"]]

In [31]:
normalized_rooms

[0.8647471368090609,
 0.19955703157132165,
 -0.7982281262852873,
 -1.4634182315230264,
 1.1973421894279306]

In [45]:
def add_eight(x : int):
    x += 8
    return(x)

newmap = map(add_eight, [10, 20, 30])

In [46]:
list(newmap)

[18, 28, 38]

In [47]:
newmap = map(lambda x: (μ - x) / σ, df["rooms"])

In [48]:
list(newmap)

[0.8647471368090609,
 0.19955703157132165,
 -0.7982281262852873,
 -1.4634182315230264,
 1.1973421894279306]

In [49]:
large_houses = df[df["rooms"] > 5]

In [50]:
large_houses.head()

   doors  windows  bathrooms  studies  bedrooms  residents  rooms
1     12        4          2        0         4          3      6
2      8        9          3        3         3         16      9
3     13       12          2        2         7          8     11