In [1]:
using DataFrames

In [3]:
df = DataFrame(:A => [5, 10, 15, 20, 25, 30, 35], :B => [5, 10, 15, 20, 25, 30, 35])

7×2 DataFrame
 Row │ A      B
     │ Int64  Int64
─────┼──────────────
   1 │     5      5
   2 │    10     10
   3 │    15     15
   4 │    20     20
   5 │    25     25
   6 │    30     30
   7 │    35     35

In [4]:
# the rebellion
#     the savage betrayel of the Julia language
shape(df::AbstractDataFrame) = size(df)

shape (generic function with 1 method)

In [10]:
dfnoB = DataFrame()

0×0 DataFrame

In [11]:
function checkshape()
   println(shape(df))
    println(shape(dfnoB))
end

checkshape (generic function with 2 methods)

In [12]:
checkshape()

(7, 2)
(0, 0)

In [13]:
dfnoB = select(df, Not(:B))

7×1 DataFrame
 Row │ A
     │ Int64
─────┼───────
   1 │     5
   2 │    10
   3 │    15
   4 │    20
   5 │    25
   6 │    30
   7 │    35

In [14]:
checkshape()

(7, 2)
(7, 1)

In [15]:
dfnoB = select!(df, Not(:B))

7×1 DataFrame
 Row │ A
     │ Int64
─────┼───────
   1 │     5
   2 │    10
   3 │    15
   4 │    20
   5 │    25
   6 │    30
   7 │    35

In [16]:
checkshape()

(7, 1)
(7, 1)

In [18]:
df

7×1 DataFrame
 Row │ A
     │ Int64
─────┼───────
   1 │     5
   2 │    10
   3 │    15
   4 │    20
   5 │    25
   6 │    30
   7 │    35

In [20]:
# What this usually looks like in Julia:
select(df::AbstractDataFrame, x::Array{Any}) = select!(copy(df), x::Array{Any})

LoadError: error in method definition: function DataFrames.select must be explicitly imported to be extended