In [1]:
using PyCall

In [2]:
@time begin
    pd = pyimport("pandas")
    r = pyimport("numpy.random")
    df = pd.DataFrame(Dict("A" => r.randn(50000000), "B" => r.randn(50000000)))
end

  5.938652 seconds (2.26 M allocations: 886.092 MiB, 0.36% gc time, 17.54% compilation time)

┌ Warning: `vendor()` is deprecated, use `BLAS.get_config()` and inspect the output instead
│   caller = npyinitialize() at numpy.jl:67
└ @ PyCall /home/emmac/.julia/packages/PyCall/L0fLP/src/numpy.jl:67

PyObject                  B         A
0         1.006252 -0.414679
1         0.398578  0.226212
2         0.824167  0.759994
3        -0.030115  1.243160
4        -0.187963 -1.809035
...            ...       ...
49999995 -0.680691 -3.012568
49999996  1.046533 -1.390200
49999997  0.530657 -0.095890
49999998  0.719834  0.725654
49999999  0.705798 -1.523642

[50000000 rows x 2 columns]

In [3]:
PyCall.run("print('hello!')")

LoadError: MethodError: no method matching run(::String)
Closest candidates are:
  run(::Base.AbstractCmd, ::Any...; wait) at /opt/julia-1.6.3/julia-1.6.3/share/julia/base/process.jl:443

In [4]:
py"""
def add20(x):
    return x + 20
"""

In [5]:
py"add20"(20)

40

In [6]:
pd = pyimport("pandas")

PyObject <module 'pandas' from '/usr/lib64/python3.9/site-packages/pandas/__init__.py'>

In [7]:
df = pd.DataFrame(Dict(:A => [5, 10, 15], :B => [5, 10, 15]))

PyObject     A   B
0   5   5
1  10  10
2  15  15

In [8]:
df.head()

PyObject     A   B
0   5   5
1  10  10
2  15  15

In [9]:
df.describe()

PyObject           A     B
count   3.0   3.0
mean   10.0  10.0
std     5.0   5.0
min     5.0   5.0
25%     7.5   7.5
50%    10.0  10.0
75%    12.5  12.5
max    15.0  15.0

In [10]:
varinfo()

  name    size summary
  –––– ––––––– ––––––––
  Base         Module
  Core         Module
  Main         Module
  df   8 bytes PyObject
  pd   8 bytes PyObject
  r    8 bytes PyObject

In [11]:
r = pyimport("numpy.random")

PyObject <module 'numpy.random' from '/usr/lib64/python3.9/site-packages/numpy/random/__init__.py'>

In [12]:
varinfo()

  name    size summary
  –––– ––––––– ––––––––
  Base         Module
  Core         Module
  Main         Module
  df   8 bytes PyObject
  pd   8 bytes PyObject
  r    8 bytes PyObject