In [1]:
using DataFrames

In [4]:
using CSV

[ Info: Precompiling CSV [336ed68f-0bac-5ca0-87d4-7b16caf5d00b]

In [5]:
df = CSV.read("../Downloads/cars.csv")

LoadError: ArgumentError: provide a valid sink argument, like `using DataFrames; CSV.read(source, DataFrame)`

In [6]:
function to_data_column(data::Matrix)
    join((begin
        join((val for val in row), " ")
    end for row in eachrow(data)), "\n")::String
end

to_data_column (generic function with 1 method)

In [7]:
mat = [5 10 15; 1 2 3]

2×3 Matrix{Int64}:
 5  10  15
 1   2   3

In [9]:
print(to_data_column(mat))

5 10 15
1 2 3

In [52]:
module DataColumns


function read(path::String, T::Type{<:AbstractArray})
    hcat([begin
            [parse(Int64, ob) for ob in split(row, " ")]
    end for row in readlines(path)] ...)
end

function read(path::String, T::Type{<:Any})
    mat::Matrix = read(path, Matrix)
    pairs::Vector{Pair} = [Symbol(e) => col for (e, col) in enumerate(eachcol(mat))]
    T(pairs ...)::T
end

read(path::String) = read(path, Matrix)
end

WARNING: replacing module DataColumns.

Main.DataColumns

In [53]:
touch("example.dc")

open("example.dc", "w") do o::IOStream
    print(o, to_data_column(mat))
end

In [54]:
using Main.DataColumns

In [55]:
DataColumns.read("example.dc")

3×2 Matrix{Int64}:
  5  1
 10  2
 15  3

In [56]:
DataColumns.read("example.dc", Dict)

Dict{Symbol, SubArray{Int64, 1, Matrix{Int64}, Tuple{Base.Slice{Base.OneTo{Int64}}, Int64}, true}} with 2 entries:
  Symbol("1") => [5, 10, 15]
  Symbol("2") => [1, 2, 3]

In [59]:
df = DataColumns.read("example.dc", DataFrame)

3×2 DataFrame
 Row │ 1      2
     │ Int64  Int64
─────┼──────────────
   1 │     5      1
   2 │    10      2
   3 │    15      3

In [60]:
function to_data_column(data::Any)
    join((begin
        join((val for val in row), " ")
    end for row in eachrow(data)), "\n")::String
end

to_data_column (generic function with 2 methods)

In [62]:
print(to_data_column(df))

5 1
10 2
15 3